---
---

// Forest theme variable overrides
$background-color: #1b2e1b;
$text-color: #e0f2e9;
$link-color: #7fc97f;
$brand-color: #b2df8a;
$header-bg-color: #274d27;
$code-background-color: #263826;

// Import Minima theme styles
@import "{{ site.theme }}";

// Additional custom styles (if needed)
code, pre {
  background: $code-background-color;
  color: $brand-color;
}